stepFunction/step_function_definition.json
{
  "Comment": "Orquestación de Pedidos - Proyecto 200 Millas",
  "StartAt": "ProcesarPedido",
  "States": {
    "ProcesarPedido": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:368499777044:function:service-orders-200-millas-dev-procesarPedido",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Next": "PedidoEnCocina"
    },
    "PedidoEnCocina": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:368499777044:function:service-orders-200-millas-dev-pedidoEnCocina",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Next": "EvaluarCocina"
    },
    "EvaluarCocina": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "RECHAZADO",
          "Next": "ReintentarCocina"
        }
      ],
      "Default": "CocinaCompleta"
    },
    "ReintentarCocina": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:368499777044:function:service-orders-200-millas-dev-reintentarCocina",
        "Payload": {
          "input.$": "$"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "EvaluarReintentoCocina"
    },
    "EvaluarReintentoCocina": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.retry_count",
          "NumericLessThanEquals": 3,
          "Next": "ProcesarPedido"
        }
      ],
      "Default": "CocinaFallida"
    },
    "CocinaFallida": {
      "Type": "Fail",
      "Error": "MaxRetriesReached",
      "Cause": "La cocina rechazo el pedido mas de 3 veces"
    },
    "CocinaCompleta": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:368499777044:function:service-orders-200-millas-dev-cocinaCompleta",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Next": "Empaquetado"
    },
    "Empaquetado": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:368499777044:function:service-orders-200-millas-dev-empaquetado",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Next": "Delivery"
    },
    "Delivery": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:368499777044:function:service-orders-200-millas-dev-delivery",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Next": "EvaluarDelivery"
    },
    "EvaluarDelivery": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "RECHAZADO",
          "Next": "ReintentarDelivery"
        }
      ],
      "Default": "Entregado"
    },
    "ReintentarDelivery": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:368499777044:function:service-orders-200-millas-dev-reintentarDelivery",
        "Payload": {
          "input.$": "$"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Next": "EvaluarReintentoDelivery"
    },
    "EvaluarReintentoDelivery": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.retry_count",
          "NumericLessThanEquals": 3,
          "Next": "Empaquetado"
        }
      ],
      "Default": "DeliveryFallido"
    },
    "DeliveryFallido": {
      "Type": "Fail",
      "Error": "MaxRetriesReached",
      "Cause": "El delivery rechazo el pedido mas de 3 veces"
    },
    "Entregado": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:368499777044:function:service-orders-200-millas-dev-entregado",
        "Payload": {
          "taskToken.$": "$$.Task.Token",
          "input.$": "$"
        }
      },
      "Next": "EntregaCompleta"
    },
    "EntregaCompleta": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:368499777044:function:service-orders-200-millas-dev-entregaCompleta",
        "Payload": {
          "input.$": "$"
        }
      },
      "End": true
    }
  }
}